body {
  font-family: verdana;
  color: #009999;
  padding: 10%;
}

#container {
  display: flex;
  flex-direction: column;
  width: 450px;
}

#title {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 120px;
  font-size: 20px;
}

.small-text {
  font-size: 11px;
}

.row {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 5px 0 0 5px;
  height: 50px;
}

.header div {
  height: 30px;
  border: 0;
}

.header .radio-button, .title-column {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title-column {
  display: inline-flex;
  width: 100px;
}

.radio-button {
  display: flex;
  box-sizing: border-box;
  width: 80px;
  height: 40px;
  border:  1px solid #00b3b3;
  border-radius: 25px;
  justify-content: space-around;
  align-items: center;
}

.radio-button-on {
  border: 1px solid #00b3b3;
  background: #c2efef;
  color: #00b3b3;
}

.radio-button:hover {
  cursor: pointer;
}

#slider-row {
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.slider {
  display: flex;
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  padding: 5px;
  flex-direction: row;
  border: 1px solid #00b3b3;
  align-items: center;
  justify-content: space-between;
}

.slider:hover {
  cursor: pointer;
}

.slider.on {
  justify-content: flex-end;
  background: #c2efef;
}

.slider.off {
  justify-content: flex-start; 
}

.slider-button {
  display: inline-flex;
  box-sizing: border-box;
  height: 100%;
  width: 50px;
  border-radius: 17px;
  border: 1px solid #00b3b3;
  background: #fff;
}

.slider .label {
  box-sizing: border-box;
  display: flex;
  width: 50px;
  padding: 10px;
  justify-content: space-around;
  user-select: none;
}

.slider.off .label {
  color: #aadfdf;
}

.slider.on .label {
  color: #00b3b3;
}