{{#each @genes as |gene|}}
<div class="row">
  <div class="title-column">
    {{gene}}
    {{!-- <span class="small-text">
      {{@caption}}
    </span>  --}}
  </div>
  <div class="radio-button"></div>
  <div class="radio-button"></div>
  <div class="radio-button"></div>
</div>
{{/each}}