{{#each @genes as |gene|}}
<div class="row">
  <div class="title-column" {{on 'click' (fn this.showMessage gene)}}>
    {{gene}}
  </div>
  <ToggleButton>
    Yes
  </ToggleButton>
  <ToggleButton>
    No
  </ToggleButton>
  <ToggleButton/>
</div>
{{/each}}