{{#each @genes as |gene|}}
<div class="row">
  <div class="title-column" {{on 'click' (fn this.showMessage gene)}}>
    {{gene}}
  </div>
  <ToggleButton/>
  <ToggleButton/>
  <ToggleButton/>
</div>
{{/each}}