<SelectRow
  {{!-- @caption="Hair / Ears / Hat" --}}
  @genes={{@model}}
/>
<div class="row" id="slider-row">
  <div class="title-column">
    Flip?<br/>
    <span class="small-text">
      Tama On
    </span>
  </div>
  <SliderButton />
</div>