<div class="title" id="genes">
  Tamagotchi On/Meets<br/>
  Evolutionary Theory
</div>
<div class="row header">
  <div class="title-column"></div>
  <div class="radio-button">Mom</div>
  <div class="radio-button">Dad</div>
  <div class="radio-button">Any</div>
</div>
<SelectRow
  @genes={{@model}}
/>
<div class="row" id="slider-row">
  <div class="title-column">
    Flip?<br/>
    <span class="subtitle">
      Tamagotchi On
    </span>
  </div>
  <SliderButton />
</div>
<div class="footer">
  <NavBar />
</div>


