<div id="container">
  <div id="title">
    Tamagotchi On/Meets<br/>
    Evolutionary Theory
  </div>
  <div class="row header">
    <div class="title-column"></div>
    <div class="radio-button">Mom</div>
    <div class="radio-button">Dad</div>
    <div class="radio-button">Any</div>
  </div>
  <div class="row">
    <div class="title-column">
      Headpiece<br/>
      <span class="small-text">
        Hair / Ears / Hat
      </span>
    </div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
  </div>
  <div class="row">
    <div class="title-column">Body</div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
  </div>
  <div class="row">
    <div class="title-column">Back/Accessory</div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
  </div>
  <div class="row">
    <div class="title-column">Eyes</div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
    <div class="radio-button"></div>
  </div>
</div>